:root{
    --bg: #fdfaf0;
    --navBg: #2a3559;
    --cardBg: rgb(247, 247, 247);
    --startBtn: #ed5c2e;
}

.text-orange{
    color: rgb(229, 138, 63);
}

.answer-choice{
    min-width: 70%;
    margin-bottom: 2rem;
    padding: 10px;
}

.answer-choice:hover{
    background-color: rgba(214, 214, 214, 0.496);
    cursor: pointer;
}

.answer-choice > span{
    height: 35px;
    aspect-ratio: 1;
    background-color: rgb(214, 214, 214);
}

.answer-choice > p{
    margin-bottom: 0 !important;
}

.bg-nav{
    background-color: var(--navBg);
}

body{
    margin: 0;
    background-color: #fdfaf0 !important;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif !important;
}

h1{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700 !important;
}

h2{
    top: 50px;
}

#main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    border-top-left-radius: var(--bs-card-border-radius);
    border-bottom-left-radius: var(--bs-card-border-radius);

    /* width: 20%; */
    min-width: 150px;
}

#quizTabs{
    width: 100%;
}

#quizTabs a span{
    margin-left: 30%;
}

#quizTabs a{
    color: rgb(170, 178, 205);
    text-decoration: none;
    border-left: rgba(255, 255, 255, 0) 6px solid;
    margin-left: 1px;
}

#quizTabs a:hover{
    color: white;
    border-left: white 6px solid;
}

#logo{
  width: 33%;
  object-fit: contain;
}

#mainCard > *:not(a, #progress){
    max-width: 70%;
    overflow-wrap: break-word;
    text-align: center;
}

#mainCard > p,a{
    font-family: 'PT-Sans', sans-serif;
    font-size: 1.5rem;
}

#mainCard img{
    width: 120px;
    aspect-ratio: 1;
}

#complete{
    max-width: 120px !important;
}

#start-btn{
    background-color: var(--startBtn);
    bottom: 10%;
    right: 10%;
    height: 60px;
    width: 240px;
}

#replay{
    height: 50px;
    width: 150px;
}

#progress{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

#progress-container {
    width: 70%;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
  
#progress-bar {
    height: 100%;
    background-color: blue;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 125ms ease-out;
}
  